<?xml version="1.0" encoding="UTF-8"?>
<records>
	<record>
		<deptno>10</deptno>
		<dname>총무부</dname>
		<loc>서울</loc>
	</record>
	<record>
		<deptno>20</deptno>
		<dname>인사부</dname>
		<loc>서울</loc>
	</record>
	<record>
		<deptno>30</deptno>
		<dname>개발부</dname>
		<loc>서귀포</loc>
	</record>
</records>

<!--
	22.07.22
	
	
	
	web.xml 기술하기
	데이터의 캡슐화, 축소
	- 배치서술자라고 한다(dd파일) 
	- 서블릿 클래스 등록, URL매핑 - 요청(get:링크,단위테스트, header,post:자스, body)
	
	
 -->